.root {
	-fx-font-size: 9pt;
}
.button {
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.6), 5, 0, 1, 1);
	-fx-background-color: white;
}

.button:hover, .toggle-button:hover, .toggle-button:selected:hover {
	-fx-background-color: rgba(158, 159, 160, 0.15);
}
.button:focused {
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 255, 1), 5, 0, 1, 1);
}

.button:pressed {
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.6), 1, 0, 1, 1);
}

.toggle-button {
	-fx-background-color: white;
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.6), 5, 0, 1, 1);
}

.toggle-button:focused, .toggle-button:selected:focused {
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 255, 1), 10, 0, 1, 1);
}

.toggle-button:selected {
	-fx-background-color: #2ecc71;
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.6), 1, 0, 1, 1);
}

#fireRandom {
    -fx-padding: 5px 30px 5px 17px;
    -fx-background-insets: 0px 23px 0px 10px;
    -fx-background-radius: 20;
}
